[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
Builds/
TestResults/
.utmp/
Assets/InitTestScene*.unity*
Assets/Scenes/Workspace.unity*
.vs/
*.csproj
*.sln
*.user
*.pidb
*.pdb
*.opendb
*.VC.db
*.keystore
*.jks
